@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
}

/* .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
} */

.main-wrapper {
    width: 730px;
    margin: 60px auto;
}

.container {
    width: 75%;
}

